<% home = @homes.first %>

<h2><%= home.titulo.html_safe %></h2><hr>

<p><%= home.texto.html_safe %></p>
<% if user_signed_in? %>
  <div class="btn">
    <%= link_to 'Mostrar', home %>
  </div>
<% end %>
<br />

